Repository alibaba/rax, pull requests merged in 2020-08, with the labels that each got.

#1968 fix: kraken should use memoryHistory instead of hashHistory.
  packages/rax-app/package.json
  packages/rax-app/src/history.js
Labels: kraken

#1959 refactor(miniapp): use single file package mode render
  packages/miniapp-render/package.json
  packages/miniapp-render/renderMock.js
  packages/miniapp-render/rollup.config.js
  packages/miniapp-render/src/createConfig/app.js
  packages/miniapp-render/src/createConfig/page.js
  packages/miniapp-render/src/document.js
  packages/miniapp-render/src/node/root.js
  packages/miniapp-render/src/utils/cache.js
  packages/miniapp-render/src/utils/tool.js
  packages/miniapp-render/src/window.js
  packages/rax-app/src/index.js
Labels: miniapp runtime

#1971 [RELEASE]: rax-app & miniapp runtime 0806
  packages/miniapp-render/package.json
  packages/miniapp-render/renderMock.js
  packages/miniapp-render/rollup.config.js
  packages/miniapp-render/src/createConfig/app.js
  packages/miniapp-render/src/createConfig/page.js
  packages/miniapp-render/src/document.js
  packages/miniapp-render/src/node/element.js
  packages/miniapp-render/src/node/root.js
  packages/miniapp-render/src/utils/cache.js
  packages/miniapp-render/src/utils/tool.js
  packages/miniapp-render/src/window.js
  packages/rax-app/package.json
  packages/rax-app/src/__tests__/pathRedirect.js
  packages/rax-app/src/app.js
  packages/rax-app/src/appLifyCycles.js
  packages/rax-app/src/constants.js
  packages/rax-app/src/env.js
  packages/rax-app/src/history.js
  packages/rax-app/src/index.js
  packages/rax-app/src/nativeEventListener.js
  packages/rax-app/src/page.js
  packages/rax-app/src/pathRedirect.js
  packages/rax-app/src/router.js
  packages/rax-app/src/runApp.js
  packages/rax-app/src/type.js
Labels: miniapp runtime, rax ecosystem

#1872 feat: jsxcompiler support export muilt component
  packages/jsx-compiler/src/modules/__tests__/components.js
  packages/jsx-compiler/src/modules/components.js
Labels: miniapp compiler
