Repository alibaba/rax, pull requests merged in 2020-04, with the labels that each got.

#1843 fix(jsx2mp): complier errror
  packages/jsx-compiler/package.json
  packages/jsx-compiler/src/modules/list.js
  packages/jsx-compiler/src/modules/rax-slider.js
  packages/jsx-compiler/src/utils/handleListJSXExpressionContainer.js
  packages/jsx-compiler/src/utils/handleListProps.js
  packages/jsx-compiler/src/utils/handleListStyle.js
Labels: miniapp

#1856 fix(miniapp): alipay basic components
  packages/miniapp-element/scripts/genreateSubtree.js
  packages/miniapp-element/src/index.ali.json
  packages/miniapp-element/src/templates/index.axml
  packages/miniapp-element/src/templates/subtree-cover/index.js
  packages/miniapp-element/src/templates/subtree-cover/index.json
  packages/miniapp-element/src/templates/subtree/index.js
  packages/miniapp-element/src/templates/subtree/index.json
  packages/miniapp-render/src/event/event-target.js
Labels: miniapp runtime

#1855 feat: basecomponents add rax-recyclerview
  packages/jsx-compiler/package.json
  packages/jsx-compiler/src/baseComponents.js
Labels: miniapp compiler

#1850 fix: trace parent instance for universal component's event handler
  packages/jsx2mp-runtime/src/bridge.js
Labels: miniapp compiler

#1854 [RELEASE] miniapp-runtime@0429
  packages/miniapp-element/package.json
  packages/miniapp-element/rollup.config.js
  packages/miniapp-element/scripts/genreateSubtree.js
  packages/miniapp-element/src/builtInComponents/checkbox-group.js
  packages/miniapp-element/src/builtInComponents/checkbox.js
  packages/miniapp-element/src/builtInComponents/input.js
  packages/miniapp-element/src/builtInComponents/label.js
  packages/miniapp-element/src/builtInComponents/navigator.js
  packages/miniapp-element/src/builtInComponents/radio-group.js
  packages/miniapp-element/src/builtInComponents/radio.js
  packages/miniapp-element/src/builtInComponents/rich-text.js
  packages/miniapp-element/src/component.js
  packages/miniapp-element/src/events/callEvent.js
  packages/miniapp-element/src/index.ali.json
  packages/miniapp-element/src/templates/index.axml
  packages/miniapp-element/src/templates/index.wxml
  packages/miniapp-element/src/templates/subtree-cover/index.js
  packages/miniapp-element/src/templates/subtree-cover/index.json
  packages/miniapp-element/src/templates/subtree/index.js
  packages/miniapp-element/src/templates/subtree/index.json
  packages/miniapp-render/__tests__/node/comment.test.js
  packages/miniapp-render/__tests__/node/element.test.js
  packages/miniapp-render/__tests__/node/text-node.test.js
  packages/miniapp-render/__tests__/util/tool.test.js
  packages/miniapp-render/__tests__/window.test.js
  packages/miniapp-render/package.json
  packages/miniapp-render/renderMock.js
  packages/miniapp-render/rollup.config.js
  packages/miniapp-render/src/document.js
  packages/miniapp-render/src/event/event-target.js
  packages/miniapp-render/src/index.js
  packages/miniapp-render/src/node/comment.js
  packages/miniapp-render/src/node/element.js
  packages/miniapp-render/src/node/node.js
  packages/miniapp-render/src/node/text-node.js
  packages/miniapp-render/src/util/cache.js
  packages/miniapp-render/src/window.js
  packages/rax-app/package.json
  packages/rax-app/src/runApp.js
Labels: miniapp runtime

#1826 [RELEASE] miniapp-compile@0429
  packages/jsx-compiler/package.json
  packages/jsx-compiler/src/adapter.js
  packages/jsx-compiler/src/baseComponents.js
  packages/jsx-compiler/src/getCompiledComponents.js
  packages/jsx-compiler/src/modules/__tests__/rax-slider.js
  packages/jsx-compiler/src/modules/attribute.js
  packages/jsx-compiler/src/modules/condition.js
  packages/jsx-compiler/src/modules/index.js
  packages/jsx-compiler/src/modules/list.js
  packages/jsx-compiler/src/modules/rax-slider.js
  packages/jsx-compiler/src/parser/index.js
  packages/jsx-compiler/src/utils/__tests__/getAliasCorrespondingValue.js
  packages/jsx-compiler/src/utils/getAliasCorrespondingValue.js
  packages/jsx-compiler/src/utils/handleList.js
  packages/jsx-compiler/src/utils/handleListJSXExpressionContainer.js
  packages/jsx-compiler/src/utils/handleListProps.js
  packages/jsx-compiler/src/utils/handleListStyle.js
  packages/jsx2mp-cli/.gitignore
  packages/jsx2mp-cli/.npmignore
  packages/jsx2mp-cli/README.md
  packages/jsx2mp-cli/__tests__/component.js
  packages/jsx2mp-cli/bin/jsx2mp-build.js
  packages/jsx2mp-cli/bin/jsx2mp-start.js
  packages/jsx2mp-cli/bin/jsx2mp.js
  packages/jsx2mp-cli/checkPkgVersion.js
  packages/jsx2mp-cli/default.js
  packages/jsx2mp-cli/demo/assets/rax.png
  packages/jsx2mp-cli/demo/component.js
  packages/jsx2mp-cli/demo/package.json
  packages/jsx2mp-cli/getWebpackConfig.js
  packages/jsx2mp-cli/index.js
  packages/jsx2mp-cli/package.json
  packages/jsx2mp-cli/plugins/runtime.js
  packages/jsx2mp-cli/utils/file.js
  packages/jsx2mp-cli/utils/log.js
  packages/jsx2mp-cli/utils/moduleResolve.js
  packages/jsx2mp-cli/utils/platformConfig.js
  packages/jsx2mp-cli/utils/removeExt.js
  packages/jsx2mp-cli/utils/spinner.js
  packages/jsx2mp-runtime/package.json
  packages/jsx2mp-runtime/rollup.config.js
  packages/jsx2mp-runtime/scripts/platform-plugin.js
  packages/jsx2mp-runtime/src/adapter/attachRef.js
  packages/jsx2mp-runtime/src/adapter/getComponentBaseConfig.js
  packages/jsx2mp-runtime/src/adapter/getNativeAPI.js
  packages/jsx2mp-runtime/src/adapter/getNativeComponentLifecycle.js
  packages/jsx2mp-runtime/src/bridge.js
  packages/jsx2mp-runtime/src/component.js
  packages/jsx2mp-runtime/src/createRef.js
  packages/jsx2mp-runtime/src/forwardRef.js
  packages/jsx2mp-runtime/src/hooks.js
  packages/jsx2mp-runtime/src/index.js
  packages/jsx2mp-runtime/src/router.js
  packages/jsx2mp-runtime/src/types.js
Labels: miniapp compiler
