Repository alibaba/rax, pull requests merged in 2020-05, with the labels that each got.

#1866 fix: portal with new context
  packages/rax-create-portal/src/__tests__/createPortal.js
  packages/rax/src/vdom/instance.js
Labels: rax core

#1865 fix: unmount dirty component
  packages/rax/src/vdom/__tests__/composite.js
  packages/rax/src/vdom/updater.js
Labels: rax core

#1879 chore: compatiblity appx2.0
  packages/jsx2mp-runtime/src/cycles.js
  packages/jsx2mp-runtime/src/nativeEventListener.js
Labels: miniapp compiler

#1849 feat(jsx2mp): support render props
  packages/jsx-compiler/src/modules/__tests__/render-function.js
  packages/jsx-compiler/src/modules/__tests__/render-props.js
  packages/jsx-compiler/src/modules/code.js
  packages/jsx-compiler/src/modules/element.js
  packages/jsx-compiler/src/modules/index.js
  packages/jsx-compiler/src/modules/list.js
  packages/jsx-compiler/src/modules/render-function.js
  packages/jsx-compiler/src/modules/render-props.js
  packages/jsx-compiler/src/utils/checkAttr.js
  packages/jsx-compiler/src/utils/isDerivedFromProps.js
  packages/jsx2mp-runtime/src/component.js
  packages/jsx2mp-runtime/src/createContext.js
  packages/jsx2mp-runtime/src/eventEmitter.js
  packages/jsx2mp-runtime/src/events.js
  packages/jsx2mp-runtime/src/valueEmitter.js
Labels: miniapp compiler

#1842 fix: render returns null to null empty nodes are also rebuilt(#1830)
  packages/rax/src/vdom/__tests__/empty.js
  packages/rax/src/vdom/empty.js
  packages/rax/src/vdom/instantiateComponent.js
Labels: bug, rax core

#1867 fix: fragment cache native node
  packages/rax/src/vdom/__tests__/fragment.js
  packages/rax/src/vdom/fragment.js
  packages/rax/src/vdom/native.js
Labels: rax core

#1862 [RELEASE]: miniapp complie@0514
  packages/jsx-compiler/package.json
  packages/jsx-compiler/src/modules/__tests__/render-function.js
  packages/jsx-compiler/src/modules/__tests__/render-props.js
  packages/jsx-compiler/src/modules/code.js
  packages/jsx-compiler/src/modules/element.js
  packages/jsx-compiler/src/modules/index.js
  packages/jsx-compiler/src/modules/list.js
  packages/jsx-compiler/src/modules/render-function.js
  packages/jsx-compiler/src/modules/render-props.js
  packages/jsx-compiler/src/utils/checkAttr.js
  packages/jsx-compiler/src/utils/isDerivedFromProps.js
  packages/jsx2mp-runtime/package.json
  packages/jsx2mp-runtime/src/bridge.js
  packages/jsx2mp-runtime/src/component.js
  packages/jsx2mp-runtime/src/createContext.js
  packages/jsx2mp-runtime/src/cycles.js
  packages/jsx2mp-runtime/src/eventEmitter.js
  packages/jsx2mp-runtime/src/events.js
  packages/jsx2mp-runtime/src/nativeEventListener.js
  packages/jsx2mp-runtime/src/valueEmitter.js
Labels: miniapp compiler

#1868 refactor(miniapp): template render
  packages/miniapp-element/scripts/adapter.js
  packages/miniapp-element/scripts/genreateSubtree.js
  packages/miniapp-element/scripts/handleComponentFile.js
  packages/miniapp-element/src/builtInComponents/ad.js
  packages/miniapp-element/src/builtInComponents/button.js
  packages/miniapp-element/src/builtInComponents/camera.js
  packages/miniapp-element/src/builtInComponents/canvas.js
  packages/miniapp-element/src/builtInComponents/checkbox-group.js
  packages/miniapp-element/src/builtInComponents/checkbox.js
  packages/miniapp-element/src/builtInComponents/cover-image.js
  packages/miniapp-element/src/builtInComponents/editor.js
  packages/miniapp-element/src/builtInComponents/form.js
  packages/miniapp-element/src/builtInComponents/image.js
  packages/miniapp-element/src/builtInComponents/input.js
  packages/miniapp-element/src/builtInComponents/live-player.js
  packages/miniapp-element/src/builtInComponents/live-pusher.js
  packages/miniapp-element/src/builtInComponents/map.js
  packages/miniapp-element/src/builtInComponents/movable-view.js
  packages/miniapp-element/src/builtInComponents/navigator.js
  packages/miniapp-element/src/builtInComponents/official-account.js
  packages/miniapp-element/src/builtInComponents/picker-view.js
  packages/miniapp-element/src/builtInComponents/picker.js
  packages/miniapp-element/src/builtInComponents/progress.js
  packages/miniapp-element/src/builtInComponents/radio-group.js
  packages/miniapp-element/src/builtInComponents/radio.js
  packages/miniapp-element/src/builtInComponents/scroll-view.js
  packages/miniapp-element/src/builtInComponents/slider.js
  packages/miniapp-element/src/builtInComponents/swiper.js
  packages/miniapp-element/src/builtInComponents/switch.js
  packages/miniapp-element/src/builtInComponents/textarea.js
  packages/miniapp-element/src/builtInComponents/video.js
  packages/miniapp-element/src/builtInComponents/web-view.js
  packages/miniapp-element/src/constants.js
  packages/miniapp-element/src/events/callEvent.js
  packages/miniapp-element/src/events/callSingleEvent.js
  packages/miniapp-element/src/index.js
  packages/miniapp-element/src/init.js
  packages/miniapp-element/src/templates/index.axml
  packages/miniapp-element/src/templates/index.wxml
  packages/miniapp-element/src/templates/inner-component.axml
  packages/miniapp-element/src/templates/inner-component.wxml
  packages/miniapp-element/src/vdom/checkComponentAttr.js
  packages/miniapp-element/src/vdom/checkDiffChildNodes.js
  packages/miniapp-element/src/vdom/dealWithLeafAndSimple.js
  packages/miniapp-element/src/vdom/filterNodes.js
  packages/miniapp-element/src/vdom/shallowEqual.js
  packages/miniapp-element/src/vdom/types.js
  packages/miniapp-render/src/node/attribute.js
  packages/miniapp-render/src/node/element.js
  packages/miniapp-render/src/node/element/builtin-component.js
  packages/miniapp-render/src/node/element/custom-component.js
  packages/miniapp-render/src/node/element/input.js
  packages/miniapp-render/src/node/element/textarea.js
  packages/miniapp-render/src/node/node.js
  packages/miniapp-render/src/tree/tree.js
Labels: miniapp runtime

#1864 fix: destory function of a passive effect should call synchronously
  packages/rax/src/__tests__/hooks.js
  packages/rax/src/hooks.js
Labels: rax core

#1863 fix(jsx2mp): useImperativeHandle in wechat miniprogram
  packages/jsx2mp-runtime/src/adapter/attachRef.js
  packages/jsx2mp-runtime/src/bridge.js
  packages/jsx2mp-runtime/src/component.js
  packages/jsx2mp-runtime/src/createRef.js
  packages/jsx2mp-runtime/src/hooks.js
Labels: miniapp compiler

#1885 fix(jsx2mp): memo update
  packages/jsx2mp-runtime/src/bridge.js
  packages/jsx2mp-runtime/src/component.js
  packages/jsx2mp-runtime/src/hooks.js
Labels: miniapp compiler

#1844 [WIP] feat(miniapp): runtime performance judge and improvement
  packages/miniapp-element/src/index.js
  packages/miniapp-render/src/index.js
  packages/miniapp-render/src/node/attribute.js
  packages/miniapp-render/src/node/class-list.js
  packages/miniapp-render/src/node/element.js
  packages/miniapp-render/src/node/element/canvas.js
  packages/miniapp-render/src/node/element/image.js
  packages/miniapp-render/src/node/element/video.js
  packages/miniapp-render/src/node/node.js
  packages/miniapp-render/src/node/root.js
  packages/miniapp-render/src/node/style.js
  packages/miniapp-render/src/node/text-node.js
  packages/miniapp-render/src/tree/tree.js
  packages/miniapp-render/src/util/constants.js
  packages/miniapp-render/src/util/perf.js
  packages/miniapp-render/src/util/shortcuts.js
  packages/miniapp-render/src/utils/perf.js
  packages/miniapp-render/src/utils/shortcuts.js
  packages/miniapp-render/src/utils/tool.js
Labels: miniapp runtime
